.search-details{
  width: 100%;
 .search-content{
  position: absolute;
   left: 0;
   top:40px;
   width: 100%;
   height: 300px;
   .history{
     width: 100%;
     height: 100px;
     background-color: #fff;
     border-top: 1px solid #f4f4f4;
     .history-txt{
       float: left;
       height: 40px;
       line-height: 40px;
       font-size: 16px;
       color: #999;
       margin-left: 20px;
     }
     .iconfont{
       float: right;
       font-size: 36px;
       color:#999 ;
       margin-right: 20px;
     }
   }
   .search-hot{
     width: 100%;
     height: 200px;
     background-color: #fff;
     margin-top: 10px;
     font-size: 0;
     .history-txt{
       float: left;
       height: 40px;
       line-height: 40px;
       font-size: 16px;
       color: #999;
       margin-left: 20px;
     }
     .search-desc{
       width: 100%;
       float: left;
       .search-key{
         float: left;
         font-size: 16px;
         color: #333;
         border: 1px solid #999;
         margin: 10px;
         padding: 5px;

       }
     }

   }
 }

}