<<<<<<< HEAD
.login{
  font-size:14px;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  padding:80px 40px 50px 40px;
  p{
    position: relative;
    width:100%;
    i{
      position: absolute;
      right:0;
      width: 15px;
      height: 15px;
      top:12px;
      color:lightgrey;
    }
  }
  .tip{
    color: red;
    font-size:14px;
    margin-top:10px;
    i{
      color: red;
      position: static;
    }
  }

  input{
    width:100%;
    height:40px;
    line-height: 40px;
    border:none;
    border-bottom: 1px solid #d7d7d7;
    &.btn{

      background: #b3282b;
      border-radius: 4px;
      text-align: center;
      color:#cc6c70;
      margin-top:50px;
      margin-bottom: 35px;
      border:none;
    }
  }
  .reg{
    color:#7e7e7e;
  }
  .platform{
    overflow: hidden;
    bottom:1.5rem;
    display: flex;
    position: absolute;
    width: 5rem;
    li{
      flex: 1;
      text-align: center;
      float: left;
      &:nth-of-type(2){
        border-right: 1px solid #5a5a5a;
        border-left: 1px solid #5a5a5a;
      }

      .icon-weixin{
        color:#4fb33f
      }
      i{
        margin-right: 10px;
        font-size: 17px;
      }
      .icon-qq{
        color:#309bdd
      }
      .icon-sina{
        color:#e12c2e
      }
    }
  }
=======
.login{
  .fade-enter{
    opacity: 1;
  }
  .fade-enter-active{
    opacity: 1;
  }
  .fade-exit{
    opacity: 0
  }
  .fade-exit-active{
    opacity: 0
  }
  .move{
    display: none;
  }
  .show{

    img{
      width:200px;
      height:200px;
    }
  }
  font-size:14px;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  padding:80px 40px 50px 40px;
  p{
    position: relative;
    width:100%;
    i{
      position: absolute;
      right:0;
      width: 15px;
      height: 15px;
      top:12px;
      color:lightgrey;
    }
  }
  .tip{
    color: red;
    font-size:14px;
    margin-top:10px;
    i{
      color: red;
      position: static;
    }
  }

  input{
    width:100%;
    height:40px;
    line-height: 40px;
    border:none;
    border-bottom: 1px solid #d7d7d7;
    &.btn{

      background: #b3282b;
      border-radius: 4px;
      text-align: center;
      color:#cc6c70;
      margin-top:50px;
      margin-bottom: 35px;
      border:none;
    }
  }
  .reg{
    color:#7e7e7e;
  }
  .platform{
    overflow: hidden;
    bottom:1.5rem;
    display: flex;
    position: absolute;
    width: 5rem;
    li{
      flex: 1;
      text-align: center;
      float: left;
      &:nth-of-type(2){
        border-right: 1px solid #5a5a5a;
        border-left: 1px solid #5a5a5a;
      }

      .icon-weixin{
        color:#4fb33f
      }
      i{
        margin-right: 10px;
        font-size: 17px;
      }
      .icon-qq{
        color:#309bdd
      }
      .icon-sina{
        color:#e12c2e
      }
    }
  }
>>>>>>> dd754aa8dd506f47e96b81592bee34fce17bc36c
}