.addr{
  font-size: 15px;
  li{
    display: flex;
    border-bottom: 1px dashed lightblue;
    div{
      flex:1;
      display: flex;
      align-items: center;
    }
  }
  .icon-bianji{
    font-size: 20px;
  }
  button{
    position: fixed;
    width: 80%;
    margin-left:10%;
    bottom:60px;
    height:40px;
    line-height: 40px;
    text-align: center;
    a{
      color:#b3282b;
    }

    border:1px solid #b3282b;
    background: #fff;
  }
}