.m-tabBar {
    display: flex;
     flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .81rem;
    background-color: #fafafa;
    border-top: 1px solid #d9d9d9;
    a {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        display:flex;
        i {
            font-size: .2rem;
        }
        span {
            margin-top: 3px;
            font-size: .2rem;
            line-height: .2rem;
        }
        &.active {
            color: #c40925;
        }
    }
}